/* variables */
:root {
    /* colores */
--color-uno: #79f450;
--color-dos: #507ff4;
--color-tres: #e17a0c;
--color-cuatro: #b916da;
--color-cinco: #20283c;
--color-seis: #d2d4dc;

/* fuentes */
--fuente-uno: 'Courier New';
--fuente-dos: 'Franklin Gothic Medium';
--fuente-tres: 'Trebuchet MS';
--fuente-cuatro: 'Lucida Sans';
}


body {
    background-image: url("../imgs/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 110vh;
    padding: 30px;
}

#preview {
    height: 200px;
    background-image: url(../imgs/pc.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

#Cursos {
    height: 92%;
    background: var(--color-uno);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

#Cursos div div {
    transition: all 300ms;
}

#Cursos div>div:hover {
    box-shadow: 0px 2px 10px 2px;
}

.modal-dialog {
    max-width: 100%;
}

#Tabla{
    font-family: var(--fuente-tres);
    color: var(--color-cuatro);
    text-align: center;
    border-radius: 1%;
    padding-top: 1em;
}

#Registro {
       font-family: var(--fuente-tres);
        color: var(--color-seis);
          border-radius: 1%;
}

#curso{
    background: var(--color-cinco);
        font-family: var(--fuente-uno);
        color: var(--color-seis);
}

#sede {
    background: var(--color-cinco);
         font-family: var(--fuente-uno);
            color: var(--color-seis);
}

#modalidad {
    background: var(--color-cinco);
         font-family: var(--fuente-uno);
            color: var(--color-seis);
}

#comentarios {
    background: var(--color-seis);
      font-family: var(--fuente-uno);
       color: var(--color-cinco);
}

#Registrar{
      font-family: var(--fuente-tres);
       color: var(--color-cinco);
}

#Borrar{
      margin-top: 1em;

}

#modal{
width: 50%;
text-align: center;
}

#contenido {
    width: 90%;
    text-align: center;
    background-color: var(--color-cinco);
}