body {
    background-image: url("../imgs/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    padding: 100px;
}

#preview {
    height: 200px;
    background-image: url(../imgs/pc.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

#Cursos {
    height: 100%;
    background: #f0f0f0;
}

#Cursos div div {
    transition: all 200ms;
}

#Cursos div>div:hover {
    box-shadow: 0px 1px 5px 1px;
}

.modal-dialog {
    max-width: 100%;
}